body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.login-container,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
button {
  padding: 10px;
  margin: 10px 0;
}

button {
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}
